body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

nav{
background:black;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}
.contact-links a{
display:inline-block;
background:#25D366;
color:white;
padding:12px 20px;
margin:10px;
border-radius:25px;
text-decoration:none;
font-weight:bold;
}

.contact-links a:last-child{
background:#007BFF;
}
.hero{
text-align:center;
padding:80px;
background:#eaeaea;
}

.hero button{
padding:12px 25px;
background:black;
color:white;
border:none;
cursor:pointer;
}

.hero button:hover{
background:gray;
}

section{
padding:40px;
text-align:center;
}

#about img{
    width:120px !important;
    height:120px !important;
    max-width:120px !important;
    max-height:120px !important;
    object-fit: cover;
    border-radius:50%;
    display:block;
    margin:20px auto;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
cursor:pointer;
}

footer{
background:black;
color:white;
padding:20px;
text-align:center;
margin-top:40px;
}
@media (max-width: 600px) {
  .hero img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-img {
  width:120px !important;
  height:120px !important;
  max-width:120px !important;
  max-height:120px !important;
  object-fit:cover;
  border-radius:50%;
  display:block;
  margin:20px auto;
  }
